//c-color
$secondary-c: #252526;
$primary-c: #3e3e42;

$white: #d4d4d4;
$dark: #252526;
$black: #1e1e1e;


//$secondary-c: #3e3e42;
//$primary-c: #2d2d30;
//$white: #F3F8F8;
//$dark: #252526;
//$black: #1e1e1e;

