@import "vars";
@import "vendor/reset";
@import "vendor/fonts";

html{
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::after,
*::before{
  box-sizing: inherit;
}

body {
    background-color: $secondary-c;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 2rem;
    line-height: 2.5rem;
    color: #e2eff1;
}

a{
color: $white;
  text-decoration: none;
}

.page{
  overflow: hidden;
}

.container{
  max-width: 1300px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.main{

}

/*Blocks*/
@import "blocks/header";
@import "blocks/name";
@import "blocks/ip";
@import "blocks/mods";