.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;

  background-color: $primary-c;
  box-shadow: 0 10px 4px -2px $black;
}
.header__nav {
  height: 64px;
  

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__homepage-link {
  margin-top: 4px;
  transition: all .2s;
}
.header__homepage-link:hover{
  opacity: 0.7;
}
.header__list {
  margin-left: 13%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 35px;
}
.header__list-item {
}
.header__list-link {
  color: $white;
  transition: all .2s;
}
.header__list-link:hover {
  font-size: 2.8rem;
}
.header__reg {
}
.header__signin {
}
.header__login {
}
.header__signin:hover,
.header__login:hover{
  text-decoration: underline;
}